*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 20px;
    text-shadow: 2px 3px 8px #000;
}

p{
    text-align: justify;
    padding: 15px;
    font-weight: bold;
    font-size: 15pt;
}